<div class="footer-social-links">
  <a href="http://madhuradole.github.io/feed.xml" title="RSS Feed" target="_blank"><i class="fa fa-rss"></i></a>
  <a href="https://my.linkedin.com/in/madhuradole" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/madhura.dole.9/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/IMadddyy/" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a> 
  <a href="https://github.com/madhuradole/" title="GitHub Repositories" target="_blank"><i class="fa fa-github-alt"></i></a>
  <a href="https://instagram.com/imadddyyy/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
</div>
